:root {
    background-color: grey;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rank0 {
    padding-right: 20%;
}

.rank1 {
    display: flex;
    flex-direction: column;
    padding-right: 20%;
    justify-content: space-between;
}

.rank2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20%;
}

.rank3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.classLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
}

.border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    height: 150%;
    width: 150%;
    object-fit: contain;
}